<!-- src/main/resources/templates/login.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
</head>
<body>
<h1>Login</h1>
<form th:action="@{/login}" method="post">
    <input type="hidden" name="client_id" th:value="${param.client_id}" />
    <input type="hidden" name="redirect_uri" th:value="${param.redirect_uri}" />
    <input type="hidden" name="scope" th:value="${param.scope}" />
    <input type="hidden" name="state" th:value="${param.state}" />
    <div>
        <label>Username: <input type="text" name="username" value="test@example.com"/></label>
    </div>
    <div>
        <label>Password: <input type="password" name="password" value="1234"/></label>
    </div>
    <div>
        <button type="submit">Login</button>
    </div>
    <div th:if="${param.error}">
        <p style="color:red;">Invalid username or password</p>
    </div>
</form>
</body>
</html>
